body {
    margin: 0;
    padding: 0;
}

.register {
    height: 400px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

h2 {
    font-family: "Segoe UI";
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: -50px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
}

.inputbox {
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    display: block;
    height: 30px;
    margin: auto;
    padding: 0 10px;
    width: calc(100% - 40px);
}

::placeholder {
    color: black;
    letter-spacing: 2px;
}

button {
    background-color: #0A84C6;
    border: none;
    border-radius: 12px;
    color: white;
    display: block;
    height: 30px;
    margin: auto;
    width: calc(100% - 40px);
}

a {
    color: white;
    text-decoration: none;
}

button:hover { background-color: #0da2f2 }

button:active {
    background-color: #086191;
    transform: translateY(4px);
}