@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register </title>
    <link rel="stylesheet" href="~/css/Register.css">
</head>
<body>
    <div class="register">
        <h2>Register</h2>
        <form>
            <div>
                <input id="idEmail" type="text" name="" class="inputbox" placeholder="Email" />
            </div>
            <br>
            <div>
                <input id="idPassword" type="text" name="" class="inputbox" placeholder="Password" />
            </div>
            <br>
            <div>
                <input id="idName" type="text" name="" class="inputbox" placeholder="Name" />
            </div><br>
            <div>
                <button id="idRegister" type="submit">Register</button>
            </div>
        </form><br>
        <a href="~/Home/Login">
            <button>Cancel</button>
        </a>
</body>
</html>