@model User
@{
    ViewData["Title"] = "User Map";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map </title>
    <link rel="stylesheet" href="~/css/map.css">
</head>
<body>

    <div class="bg">
        <button class="button unu"></button>
        <button class="button doi"></button>
        <button class="button trei"></button>
    </div>

</body>
</html>