@model User
@{
    ViewData["Title"] = "User Map";
}
<!DOCTYPE html>
<style>
     html, body, #map-container {
        height: 100%;
    }

    #mapid {
        height: 94vh;
    }
    .header {
        position: absolute;
        top: 9vh;
        left: 80px;
        z-index:401;
    }
</style>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="~/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
</head>
<body>
    <h1 class="header">
        Hello, @Model.Username!
    </h1>
    <div id="mapid"></div>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>

<script>
    var mymap = L.map('mapid').setView([46.776, 23.594], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibW11cmVzYW5wYXVsIiwiYSI6ImNqdGV0ZG9uNjAycnA0NXF1OGUxMDd5eGsifQ.UiNhmOKdi5_x4UySj-dXlA', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    var marker = L.marker([46.770, 23.592]).addTo(mymap);
    marker.bindPopup("Parcarea lui peste. Locurile libere:100, valoare:maxima").openPopup();

</script>
